@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin table {
  width: 100%;
  border-top: 1px solid #e8e7e7;
  th {
    background-color: #e8e7e7;
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    line-height: 1.5em;
    text-align: left;
    border-bottom: 1px solid #fff;
  }
  td {
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #e8e7e7;
    line-height: 1.5em;
  }
}

