@charset "UTF-8";
@import "_reset";  //リセット
@import "_base";  //全体の設定
@import "_parts";  //パーツ
@import "_mixin";  //mixin定義

/* ヘッダー */
.header-nav {
  @include flex;
  height: 100px;
  margin: 0 50px;
}

.header nav ul {
  @include flex;
  li {
    margin-left: 50px;
  }
}
@media screen and (max-width: 950px) {
  .hover-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 60%;
    background-color: #fff;
    z-index: 5;
  }
  .header-nav nav {
    display: none;
  }
  .header-nav nav ul {
    flex-direction: column;
    li {
      margin: 20px 0;
      font-size: 20px;
    }
  }
}

/* メインビジュアル */
.main-visual {
  position: relative;
  height: 600px;
  @include main-visual-bg;

  img {
    width: 70%;
    height: 500px;
    margin-left: 30%;
  }

  h2 {
    position: absolute;
    top: 30%;
    left: 20%;
    background: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    padding: 1rem;
  }
  @media screen and (max-width: 950px) {
    height: 300px;
    img {
      height: 300px;
    }
    h2 {
      left: 10%;
      font-size: 2rem;
    }
  }
}


/* 記事 */
.greeting h2 {
  margin-bottom: 50px;
  text-align: center;
}

.contents {
  @include flex;
  width: 100%;

  figure {
    width: 50%;
  }
}

.content {
  width: 40%;
  margin-right: 20px;
}
@media screen and (max-width: 950px) {
  .greeting h2 {
    margin-bottom: 10px;
  }
  .content {
    margin-right: 20px;

    p {
      font-size: 12px;
    }
  }
}


/* 事業内容 */
.work {
  width: 100%;
  position: relative;
  @include work-bg;

  h2 {
    padding-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    @media screen and (max-width: 950px) {
      padding-top: 30px;
      margin-bottom: 30px;
    }
  }

  ul {
    @include flex;
    li {
      width: 400px;
      margin: 20px;

      figure {
        margin: 0;
      }
    }
  }
}

/* ニュース・トピック */
.news-content {
  max-width: 1200px;
  margin-bottom: 180px;
  @media screen and (max-width: 950px) {
    margin-bottom: 100px;
  }
}

.news {
  h2 {
    margin-bottom: 50px;
    text-align: center;
  }
  li {
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px dotted #dedede;

    a {
      color: #333;
      display: flex;
    }

    time {
      font-size: 0.75em;
      color: #949494;
      margin-right: 80px;
    }
  }
  @media screen and (max-width: 950px) {
    h2 {
      margin-bottom: 0;
    }
    a {
      display: flex;
      flex-direction: column;
    }
    p {
      font-size: 90%;
    }
  }
}


/* 採用情報 */
.recruit {
  position: relative;
  @include recruit-bg;
}
.recruit-img {
  img {
    width: 80%;
    height: 400px;
    margin-right: 20%;
    @media screen and (max-width: 950px) {
      height: 250px;
    }
  }
  @include recruit-ing-bg;
}

.recruit h2 a {
  position: absolute;
  top: 45%;
  right: 52%;
  width: 250px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 60px;
  text-align: center;
}

/* フッター */
footer .content-wrapper {
  @include flex;
  padding: 50px 0;
  .footer-address {
    margin-left: 50px;
  
    p {
      line-height: 1.8;
    }
  }
  ul {
    display: flex;
  
    li {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 950px) {
    justify-content: space-around;  
    ul {
      flex-direction: column;
    }
  }
}
.copyright p {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  line-height: 100px;
  background-color: #e8e7e7;
}


/* 会社概要ページ */
.company-greeting {
  display: flex;
  margin-bottom: 50px;
  
  .right {
    width: 70%;
    padding-top: 50px;
    margin: 20px; 
    h2 {
      text-align: center;
    }
  }
  @media screen and (max-width: 950px) {
    .left figure {
      margin: 10px;
      width: 90%;
    }
    .right {
      font-size: 12px;
      padding-top: 10px;
      margin-left: 0;
    }
  }
}

.company-profile {
  margin-bottom: 100px;
}

.company {
  @include table;
}

.company-map {
  margin-bottom: 0px;
}


// 事業内容
.work-description01,
// .work-description02,
.work-description03 {
  margin-bottom: 240px;
  dl {
    width: 100%;
    position: relative;
    dt img {
      width: 60%;
      height: 500px;
      object-fit: cover;
    }
    dd {
      width: 40%;
      position: absolute;
      top: 40%;
      left: 40%;
      background-color: #fff;
      color: #333;
      padding: 80px;
      z-index: 2;
      box-shadow: 0px 3px 10px 5px rgb(172, 172, 172);
    }
    @media screen and (max-width: 950px) {
      dt img {
        height: 300px;
      }
      dd {
        padding: 10px;
        top: 10%;
        left: 50%;
        h2 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
.work-description02 {
  margin-bottom: 240px;
  dl {
    width: 100%;
    position: relative;
    dt img {
      width: 60%;
      height: 500px;
      object-fit: cover;
    }
    dd {
      width: 40%;
      position: absolute;
      top: 40%;
      right: 40%;
      background-color: #fff;
      color: #333;
      padding: 80px;
      z-index: 2;
      box-shadow: 0px 3px 10px 5px rgb(172, 172, 172);
    }
    @media screen and (max-width: 950px) {
      dt {
        display: flex;
        justify-content: flex-end;
        img {
          height: 300px;
        }
      } 
      dd {
        padding: 10px;
        top: 10%;
        right: 50%;
        h2 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}


/* 採用情報ページ */
.recruit-point {
  margin-bottom: 50px;  
  h2 {
    text-align: center;
  }
}
.recruit-table {
  margin-bottom: 40px;
  .content {
    @include table;
  }
}


/* お問い合わせページ */
.form {
  margin-bottom: 80px;

  dl {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px dotted #676767;

    &:first-of-type {
      border-top: 1px dotted #676767;
    }
    
    dt {
      width: 300px;
      box-sizing: border-box;
      padding: 20px 0 20px 10px;
      line-height: 1em;
    }
  }

  dd {
    width: calc(100% - 300px);
    box-sizing: border-box;

    input, select, textarea {
      font-size: 1rem;
      color: #777;
      border: 1px solid #555;
      background-color: #f5f5f5;
      box-sizing: border-box;
    }

    input, select {
      line-height: 60px;
      height: 60px;
      padding: 0 20px;
    }

    textarea {
      height: 140px;
      line-height: 2em;
      padding: 20px;
    }
  }

  dl {
    &.name dd span,
    &.furigana dd span {
      margin: 0 20px 0 0;
    }

    &.name dd input,
    &.furigana dd input {
      width: 350px;
    }

    &.name dd input:first-of-type {
      margin: 0 50px 0 0;
    }

    &.furigana dd input:first-of-type {
      margin: 0 30px 0 0;
    }

    &.mail dd input,
    &.address dd input,
    &.multi-text dd textarea {
      width: calc(100% - 20px);
    }

    &.tel dd input,
    &.zip dd input,
    &.pref dd select {
      width: 200px;
    }

    &.tel dd span,
    &.zip dd span {
      margin: 0 20px;
    }
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;

    input {
      display: block;
      width: 250px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      background-color: #353535;
      border: 1px solid #353535;
      margin: 0 15px;
      cursor: pointer;
      transition: .3s ease all;

      &:hover {
        background-color: transparent;
        color: #444;
        transition: .3s ease all;
      }
    }
  }
  @media screen and (max-width: 1160px) {
    .content-wrapper {
      margin: 20px;
    }
    dl {
      flex-direction: column;
      padding: 20px 30px;
      &.name dd, &.furigana dd {
        padding-left: 0px;
      }

      &.name dd input:first-of-type,
      &.furigana dd input:first-of-type {
        margin: 0 20px 0 0;
      }

      &.tel dd input,
      &.zip dd input {
        width: 100px;
      }

      &.tel dd span,
      &.zip dd span {
        margin: 0 10px;
      }
      &.name dd,
      &.furigana dd {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
      }
    }
    dt {
      width: 200px;
      padding: 0 0 10px 0px;
      font-size: 18px;
    }
    dd {
      width: 100%;
    }
    input, select {
      padding: 0px 10px;
    }
    textarea {
      height: 140px;
      line-height: 1.5em;
      padding: 0px;
    }
    .form-button {
      display: flex;
      justify-content: center;
      margin: 50px auto 0 auto;
    }
  }
}